# author: Fabian Buske (modified by Jo Achinger for this run)
# date: April 2016
# compatible: NGSANE v0.5.x

#####################################
# Resources
#####################################

#********************
# Tasks
#********************
RUNFITHIC="1"        # call significant chromatin interactions

#********************
# Paths
#********************

SOURCE=$(pwd)

# which folder to run on (i.e. folders within fastq directory)
declare -a DIR; DIR=( CTCF_KD_final )

# folder/task containing the data this task operates on
INPUT_FITHIC=$TASK_HICUP

# where to write the output
OUT=$SOURCE

# where to write the log files
QOUT=$OUT/qout

#********************
# PARAMETER (mandatory)
#********************

# Resolution in nts
HIC_RESOLUTION=100000
TASK_FITHIC="fithic_$HIC_RESOLUTION"

# Suffix of inout files to look for
INPUT_FITHIC_SUFFIX="$ASD.bam"

# Mappability threshold to apply in fithic
# e.g. 0.5
FITHIC_MAPPABILITYTHRESHOLD=0.75

# chromosome sizes
# e.g. /share/ClusterShare/biodata/contrib/genomeIndices_garvan/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa
# or   ${NGSANE_REFERENCE}/b37/human_g1k_v37.fasta
FASTA=/share/ClusterShare/biodata/contrib/genomeIndices_garvan/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa

# Mappability track
# e.g. /share/ClusterShare/biodata/contrib/ENCODE/encodeDCC/wgEncodeMapability/wgEncodeCrgMapabilityAlign36mer.bigWig
MAPPABILITY=/share/ClusterShare/biodata/contrib/ENCODE/encodeDCC/wgEncodeMapability/wgEncodeCrgMapabilityAlign75mer.bigWig

# pattern indicating with chromosomes to use
FITHIC_CHROMOSOMES="chr[0-9XY]+"

# Whether to pool all the data at the contact map stage rather than processing the files individual
# e.g. FITHIC_POOLDATA="1"
FITHIC_POOLDATA="1"

# name for pooled data (only required when setting variable FITHIC_POOLDATA)
FITHIC_POOLED_SAMPLE_NAME="TKCC_LNCaP_CTCF_KD_BglII_pooled_100kb"

#********************
# PARAMETER (optional overwriting defaults)
#********************

# Whether input is in fragment pair format rather than bam
# e.g. "inputIsFragmentPairs" or "inputIsReadPairs 2,3,6,7,chr"
FITHIC_START_FROM_FRAGMENTPAIRS=

# optional parameters to pass to fithic
# FITHICADDPARAM="--lowerbound 5000 --upperbound 5000000 --plotImages"
FITHICADDPARAM="--lowerbound 5000 --upperbound -1 --plotImages"

# Q-value threshold applied for filtering (default: 0.01)
# e.g. 0.05
FITHIC_QVALUETHRESHOLD=0.05

# Whether to focus on intra-chromosomal contacts only when running bias
# # correction
FITHIC_CISONLY=

#WALLTIME_FITHIC=10:00:00
#MEMORY_FITHIC=10
#CPU_FITHIC=4
#NODES_FITHIC="nodes=1:ppn=1"
QSUBEXTRA="-P EpigeneticsResearch"
